<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <!--这仅仅是配置控制台的输出， 测试已经应用成功-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--下面是配置输出文件的日志配置=======-->
    <!--  INFO  -->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤高级的错误信息-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>

        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件的存放路径-->
            <fileNamePattern>
                E:\paper\log\info%d\info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--ERROR-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤显示的信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d -> %msg%n
            </pattern>
        </encoder>
        <!--配置文件输出位置-->
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                E:\paper\log\error%d\error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--这里是配置应用级别-->
    <root level="info">
        <appender-ref ref="consoleLog"></appender-ref>
        <appender-ref ref="fileInfoLog"></appender-ref>
        <appender-ref ref="fileErrorLog"></appender-ref>
    </root>
</configuration>